*.ams                -text
*.asm                text eol=crlf
*.bat                text eol=crlf
*.diz                text eol=crlf
*.inc                text eol=crlf
*.nfo                text eol=crlf
*.obj                -text
*.pro                -text
*.eff                -text
*.cfg                -text
*.hlp                text eol=crlf
*.txt                text eol=crlf